@import url(./user.css);
@import url(./social.css);
@import url(./about.css);
@import url(./projets.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;

    --primary: #334155;
    --secondary: #2C2D2E;

    --link: #647bff;
    
    --background-card: #FFF;
    --background-badge: #E6EEF5;
    --background-body: #F2F5F9;

    --shadow-image: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; 
    --shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

body {
    background: var(--background-body);
    color: var(--container-color);
    font: 400 16px "Inter", sans;
}

.app {
    display: grid;
    grid-template-columns: 1fr; /* Ajustado para ser responsivo */
    gap: 48px;
    width: 100%;
    max-width: 1366px;
    padding: 24px;
    margin: 160px auto 100px;
}

/* Estilo para cards */
.card {
    border-radius: 12px;
    background: var(--background-card);
    box-shadow: var(--shadow-card); /* Adiciona sombra ao card */
}

/* Estilo para subtítulos */
.subtitle {
    font-size: 28px;
    font-weight: 600;
}

/* Imagens Responsivas */
img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Serviços */
.services__content {
    display: flex;
    flex-direction: column;
}

/* Projeto */
.project__content {
    display: flex;
    flex-wrap: wrap; /* Permite que os projetos se ajustem em linhas */
    gap: 20px; /* Espaçamento entre os projetos */
}

.project {
    flex: 1 1 calc(33.333% - 20px); /* Tenta ocupar um terço do espaço disponível */
    border-radius: 8px;
    padding: 10px;
    text-align: left;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .app {
        grid-template-columns: 1fr; /* Para telas menores, usa uma coluna */
    }

    .project {
        flex: 1 1 calc(50% - 20px); /* Em telas menores, 2 projetos por linha */
    }
}

@media (max-width: 480px) {
    .project {
        flex: 1 1 100%; /* Em telas muito pequenas, 1 projeto por linha */
    }
}
